In [1]:
import re 
import pandas as pd 
import nltk

In [2]:
path = r"C:\Users\ismai\Desktop\My_Files\Deep Learning\NLP\sentiment labelled sentences"

In [3]:
websites = ['amazon_cells_labelled.txt','yelp_labelled.txt','imdb_labelled.txt']

In [11]:
df = pd.DataFrame()
for website in websites :
    website_df = pd.read_csv(f"{path}/{website}",delimiter="\t", header=None)
    df = pd.concat([df,website_df],axis = 0)
df

                                                     0  1
0    So there is no way for me to plug it in here i...  0
1                          Good case, Excellent value.  1
2                               Great for the jawbone.  1
3    Tied to charger for conversations lasting more...  0
4                                    The mic is great.  1
..                                                 ... ..
743  I just got bored watching Jessice Lange take h...  0
744  Unfortunately, any virtue in this film's produ...  0
745                   In a word, it is embarrassing.    0
746                               Exceptionally bad!    0
747  All in all its an insult to one's intelligence...  0

[2748 rows x 2 columns]

In [14]:
df.columns= ["Review","Sentiments"]

In [15]:
df

                                                Review  Sentiments
0    So there is no way for me to plug it in here i...           0
1                          Good case, Excellent value.           1
2                               Great for the jawbone.           1
3    Tied to charger for conversations lasting more...           0
4                                    The mic is great.           1
..                                                 ...         ...
743  I just got bored watching Jessice Lange take h...           0
744  Unfortunately, any virtue in this film's produ...           0
745                   In a word, it is embarrassing.             0
746                               Exceptionally bad!             0
747  All in all its an insult to one's intelligence...           0

[2748 rows x 2 columns]

In [21]:
df.iloc[112].Review

'its a little geeky but i think thats its sex on toast and it rocks and oozes sex right down to its battery embedded sleek stylish leather case.'

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2748 entries, 0 to 747
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Review      2748 non-null   object
 1   Sentiments  2748 non-null   int64
dtypes: int64(1), object(1)
memory usage: 64.4+ KB

In [25]:
df.describe

<bound method NDFrame.describe of                                                 Review  Sentiments
0    So there is no way for me to plug it in here i...           0
1                          Good case, Excellent value.           1
2                               Great for the jawbone.           1
3    Tied to charger for conversations lasting more...           0
4                                    The mic is great.           1
..                                                 ...         ...
743  I just got bored watching Jessice Lange take h...           0
744  Unfortunately, any virtue in this film's produ...           0
745                   In a word, it is embarrassing.             0
746                               Exceptionally bad!             0
747  All in all its an insult to one's intelligence...           0

[2748 rows x 2 columns]>

In [51]:
df.value_counts

<bound method DataFrame.value_counts of                                                 Review  Sentiments
0    So there is no way for me to plug it in here i...           0
1                          Good case, Excellent value.           1
2                               Great for the jawbone.           1
3    Tied to charger for conversations lasting more...           0
4                                    The mic is great.           1
..                                                 ...         ...
743  I just got bored watching Jessice Lange take h...           0
744  Unfortunately, any virtue in this film's produ...           0
745                   In a word, it is embarrassing.             0
746                               Exceptionally bad!             0
747  All in all its an insult to one's intelligence...           0

[2748 rows x 2 columns]>

In [52]:
stopwords = nltk.corpus.stopwords.words("English")

In [91]:
def text_preprocessing(doc):
    doc = doc.lower()
    doc = re.sub(r"[^a-z\s]","",doc)
    doc = [d for d in doc.split() if d not in stopwords]
    doc = " ".join(doc)
    return doc

In [92]:
df.Review.apply(text_preprocessing)

0                        way plug us unless go converter
1                              good case excellent value
2                                          great jawbone
3      tied charger conversations lasting minutesmajo...
4                                              mic great
                             ...
743        got bored watching jessice lange take clothes
744    unfortunately virtue films production work los...
745                                    word embarrassing
746                                    exceptionally bad
747            insult ones intelligence huge waste money
Name: Review, Length: 2748, dtype: object

In [107]:
def text_preprocess(doc):
    doc = doc.lower()
    doc = doc.replace('.',". ")
    doc = doc.replace(',',", ")
    doc = doc.replace('!',"! ")
    doc = re.sub(r"[^a-z\s]","",doc)
    doc = [d for d in doc.split() if d not in stopwords]
    doc = " ".join(doc)
    return doc

In [108]:
df.Review.apply(text_preprocess)

0                        way plug us unless go converter
1                              good case excellent value
2                                          great jawbone
3      tied charger conversations lasting minutes maj...
4                                              mic great
                             ...
743        got bored watching jessice lange take clothes
744    unfortunately virtue films production work los...
745                                    word embarrassing
746                                    exceptionally bad
747            insult ones intelligence huge waste money
Name: Review, Length: 2748, dtype: object

In [109]:
df["Cleaned_review"]=df.Review.apply(text_preprocess)

In [110]:
df

,Review,Sentiments,Cleaned_review
0,So there is no way for me to plug it in here i...,0,way plug us unless go converter
1,"Good case, Excellent value.",1,good case excellent value
2,Great for the jawbone.,1,great jawbone
3,Tied to charger for conversations lasting more...,0,tied charger conversations lasting minutes maj...
4,The mic is great.,1,mic great
...,...,...,...
743,I just got bored watching Jessice Lange take h...,0,got bored watching jessice lange take clothes
744,"Unfortunately, any virtue in this film's produ...",0,unfortunately virtue films production work los...
745,"In a word, it is embarrassing.",0,word embarrassing
746,Exceptionally bad!,0,exceptionally bad
747,All in all its an insult to one's intelligence...,0,insult ones intelligence huge waste money

In [112]:
X=df["Cleaned_review"]
y=df["Sentiments"]